:root {
  --my-font: "Chelsea Market", cursive;
  --bg-color: #c1a28b;
  --white: #ffffff;
  --orange: #ff8000;
  --dark-brown: #663300;
}

body {
  font-family: var(--my-font);
  background-color: var(--bg-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title, #description {
  text-align: center;
  margin: 0;
}

#title {
  padding-top: 15px;
}

#description {
  padding-bottom: 15px;
}

.info {
  font-size: 0.75em;
}

footer {
  text-align: center;
  font-size: 0.75em;
}

.section {
  margin-bottom: 10px;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.labels, input {
  margin-top: 5px;
  margin-bottom: 5px;
}

#name, #email, #number, #dropdown {
  width: 250px;
  padding: 5px;
  border-radius: 8px;
  border-color: var(--bg-color);
  box-sizing: border-box;
}

#comment {
  width: 250px;
  border-radius: 8px;
  border-color: var(--bg-color);
  box-sizing: border-box;
}

input::placeholder, textarea::placeholder, option {
  font-family: var(--my-font);
  padding-left: 5px;
}

.button {
  padding-bottom: 2em;
}

#submit, #newForm {
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 8px;
  min-width: 150px;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: "Chelsea Market", cursive;
  font-size: 1.25em;
  background-color: var(--white);
}

#submit:hover, #submit:active {
  background-color: var(--orange);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--white);
}

.modalMessage {
  position: fixed;
  top: 30%;
  width: 300px;
  left: calc(50% - 150px);
  font-size: 2em;
  color: var(--dark-brown);
  text-align: center;
}

#newForm {
  font-size: 0.75em;
  background-color: var(--dark-brown);
  color: var(--white);
  border: 1px solid var(--white);
  padding: 8px;
}

#newForm:hover, #newForm:active {
  background-color: var(--white);
  color: var(--dark-brown);
  border: 1px solid var(--dark-brown);
  cursor: pointer;
}

input:hover, #dropdown:hover, .tag:hover, #comment:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .section {
    display: flex;
    width: 100%;
  }
  .labels, .responses {
    width: 50%;
  }
}

@media (min-width: 700px) {
  .container {
    width: 700px;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100%;
    margin: 0 auto;
    background-color: var(--bg-color);
    z-index: 1;
  }
  body {
    background: url("../img/bg_img.jpg") repeat, var(--bg-color);
  }
  .labels {
    padding-right: 10px;
  }
}